doctype html
html(lang="en")
    head
        title Task <|task_number|>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style.
            body {
                background-color: #f3fde8;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin: 0;
            }

            ul.nav-bar {
                background-color: #a8df8e;
                list-style-type: none;
                margin: 0;
                overflow: hidden;
                padding: 0;
            }

            li.nav-bar {
                float: left;
            }

            li a,
            .dropbtn {
                color: #f3fde8;
                display: inline-block;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                padding: 14px 16px;
                text-align: center;
                text-decoration: none;
            }

            li.dropdown {
                display: inline-block;
            }

            .dropdown-content {
                background-color: #ffe5e5;
                box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
                display: none;
                min-width: 160px;
                position: absolute;
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                display: block;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                padding: 12px 16px;
                text-align: left;
                text-decoration: none;
            }

            li a:hover,
            .dropdown:hover .dropbtn {
                background-color: #ffbfbf;
            }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .favourite-list {
                width: 25%;
                height: 200px;
                border: 1px solid black;
                float: left;
                margin: 12%;
                text-align: center;
            }

            .labwork-container {
                width: 90%;
                height: 75vh;
                background-color: white;
                margin: auto;
                overflow: scroll;
            }

            .navigator {
                text-align: center;
            }
            .navigator h2 {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                font-weight: normal;
            }
            .navigator .prev-task-btn {
                float: left;
            }
            .navigator .next-task-btn {
                float: right;
            }
    body
        nav
            ul.nav-bar
                li.nav-bar
                    a(href="../index.html") Home
                li.nav-bar
                    a(href="../about.html") About
                :labwork-nav
        .labwork-container
            :labwork-container
        .navigator
            :task_number
            :prev_task_btn
            :next_task_btn
