doctype html
html(lang="en")
    head
        title Task <|task_number|>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(
            rel="stylesheet",
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        )
        style.
            body {
                background-color: #f3fde8;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin: 0;
            }

            nav > ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 54px;
                background-color: #a8df8e;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            nav > ul > li > a {
                padding: 14px 16px;
                text-decoration: none;
                color: #000;
                font-size: 1.2rem;
                width: 100%;
                height: 100%;
                font-family: system-ui;
            }
            nav > ul > .dropdown > button {
                font-size: 1.2rem;
                font-family: system-ui;
            }

            .labwork-container {
                width: 90%;
                height: 75vh;
                background-color: white;
                margin: auto;
                overflow: scroll;
            }

            .navigator {
                text-align: center;
            }
            .navigator h2 {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                font-weight: normal;
            }
            .navigator .prev-task-btn {
                float: left;
            }
            .navigator .next-task-btn {
                float: right;
            }
    body
        nav
            ul
                li
                    a(href="../index.html") Home
                li
                    a(href="../about.html") About
                :labwork-nav
        .labwork-container
            :labwork-container
        .navigator
            :task_number
            :prev_task_btn
            :next_task_btn
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")
